# Include the license file
include LICENSE

# Include the data files
recursive-include djangocms_influx_charts/static *
recursive-include djangocms_influx_charts/templates *

recursive-exclude djangocms_influx_charts/highcharts *